@model PaymentWeb.Data.Entity.PaymentDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardOwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardOwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
