@model IEnumerable<PaymentWeb.Data.Entity.PaymentDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cardOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cardOwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
